#container, #display, button {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: grey;
}

#display, button {
    font-size: 20px;
}

#container {
    width: 608px;
    height: auto;
    padding: 0 5px 3px 5px;
    background-color: silver;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: grey;
    display: flexbox;
 }

 #display {
    margin: 4px 0;
    padding: 16px;
    background-color: white;
    text-align: right;
 }

 button, .placeholder {
    width: 200px;
    height: 100px;
    margin-bottom: 2px;
    padding: 0;
 }

 .placeholder {
    background-color: silver;
    border-style: none;
    color: silver;
 }